@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

.botao-center{
    text-align: center;
    
}
.botao-center button{
    width: 140px;
    height: 60px;
    font-size: 28px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: rgb(117, 32, 255);
}